body, html {
	background-color: black;
	width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	margin: 10px 50px;
	padding: 0 10px;
	outline: none;
	cursor: pointer;
	border: none;
	transition-duration: .5s;
	padding: 15px;
	border-radius: 10px;
}
button:hover {
	background-color: #000;
	color: #FFF;
}

#mainContainer div {
  border: 1px solid grey;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 10px 0px;
  box-shadow: inset 0px 10px 0px 0px rgba(0, 0, 0, 0.4);
}

.off {
background-color: #A0522D;
}

.onOff {
   background-color: #A0522D;
}

.onYellow {
	background-color: #FFFF00;
}

.onGreen {
	background-color: #7FFF00;
}

.onRed {
	background-color: #FF0000;
}

#controls {
	/*height: 75px;*/
	width: 100%;
	background-color: #404040;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}
#mainContainer {
	background-color: #FFE4C4;
	height: 550px;
	width: 200px;
	border-radius: 10px;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}